@using Microsoft.Graph.Models
@inject GraphClientService GraphClient

@if(null != this.Application)
{
    <MudPaper Elevation="0" Class="pa-2 mb-8 mt-4">
        <MudText Typo="Typo.h4">@this.Application.DisplayName</MudText>
        <MudText Typo="Typo.subtitle1"><b>Object Id:</b> @this.Application.Id</MudText>
        <MudText Typo="Typo.subtitle1"><b>Client Id:</b> @this.Application.AppId</MudText>
        @if (null != this.AppServicePrincipal)
        {
            <MudText Typo="Typo.subtitle1"><b>Service Principal Id:</b> @this.AppServicePrincipal.Id</MudText>
        }
    </MudPaper>

    <MudStack Row="true" AlignItems="AlignItems.Start">
        <div>
            <MudText Typo="Typo.h5">App Roles</MudText>
            <MudList T="Application">
                @foreach (var role in this.Application.AppRoles ?? [])
                {
                    <MudListItem OnClick="async () => await OnAppRoleSelectedAsync(role)">
                        <MudText Typo="Typo.h6">@role.Value</MudText>
                        <MudText Typo="Typo.caption">App Role Id: @role.Id</MudText>
                        <MudText Typo="Typo.subtitle1">@role.DisplayName</MudText>
                        <MudText Typo="Typo.body2">@role.Description</MudText>
                    </MudListItem>
                }
            </MudList>
        </div>
        @if (this.Assignments?.Count > 0)
        {
            <div>
                <MudText Typo="Typo.h5">Assigned Principals</MudText>
                <MudList T="AppRoleAssignment">
                    @foreach (var assignment in this.Assignments)
                    {
                        <MudListItem>
                            <MudText Typo="Typo.h6">@assignment.PrincipalType: @assignment.PrincipalDisplayName</MudText>
                            <MudText Typo="Typo.caption">Principal Id: @assignment.PrincipalId</MudText>
                        </MudListItem>
                    }
                </MudList>
            </div>
        }
    </MudStack>
}

@code {

    [Parameter]
    public Application? Application { get; set; }

    private ServicePrincipal? AppServicePrincipal { get; set; }

    private List<AppRoleAssignment>? Assignments { get; set; }

    private async Task OnAppRoleSelectedAsync(AppRole appRole)
    {
        this.Assignments = new List<AppRoleAssignment>();

        if(null != this.AppServicePrincipal)
        {
            Console.WriteLine("Getting app role assignments...");

            var assignments = this.GraphClient.GetAppRoleAssignmentsAsync(this.AppServicePrincipal, appRole);
            await foreach(var assignment in assignments)
            {
                this.Assignments.Add(assignment);
                Console.WriteLine($"{assignment.PrincipalType}: {assignment.PrincipalDisplayName}");
            }
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if(null != this.Application)
        {
            Console.WriteLine($"App Id: {this.Application.AppId}");

            this.AppServicePrincipal = await this.GraphClient.GetServicePrincipalAsync(this.Application);
            Console.WriteLine($"Service Principal Id: {this.AppServicePrincipal?.Id}");
        }
    }
}